# Ignore C++ build artifacts.

*.o
*.so
*.exe
*.dll
*.egg-info

# Ignore Vagrant runtime files.

.vagrant/


# Ignore settings for various IDEs.

.idea/
.project/
.vscode/
nbproject/
*.code-workspace
cmake-build-debug
build
tests/bin
dist
# Ignore OS metadata files.

.DS_Store
Thumbs.db
