# Ignore C++ build artifacts.

*.o
*.so
*.exe
*.dll
*.egg-info

# Ignore settings for various IDEs.

.idea/
.project/
.vscode/
nbproject/
*.code-workspace
cmake-build-debug
build
# Ignore OS metadata files.

.DS_Store
Thumbs.db

#Ignore other stuff
tests/bin
dist
.pytest_cache
*__pycache__*